<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>

    let cookie = document.cookie.split('; ').reduce((prev, current) => {
      const [name, value] = current.split('=');
      prev[name] = value;
      return prev;
    }, {});

    function setEntrySuccess(entry, message){
      entry.placeholder = message;
      entry.classList.remove("failure");
    }

    function setEntryFailure(entry, message){
      entry.placeholder = message;
      entry.classList.add("failure");
    }

    function clearCookies(){
      document.cookie.split(";")
        .forEach(function(c) { 
          document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); 
        });
    }

    function setCookies(header){
      let cookie = "";
      for(const prop in header){
        cookie += prop + "=" + header[prop] + "; ";
      }
      console.log("Setting Cookie: " + cookie);
      document.cookie = cookie + "path=/; ";
    }

    async function init(){
      const entry = document.getElementById("entry");

      if(cookie.questionId == "who" || !cookie.user || !cookie.user.userName){
        setEntrySuccess(entry, "Start here. What is your name?");
        cookie.questionId = "who";
      }else{
        setEntrySuccess(entry, "Good to see you again, " + cookie.userName + ". What would you like to do?");
        cookie.questionId = "do";
      }

    }

    async function sendMessageToServer(){
      const entry = document.getElementById("entry");
      const userResponse = entry.value;
      entry.value = "";

      if(userResponse === "clear"){
        clearCookies();
        init();
        return fetch();
      }

      const clientMessage = {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          header: cookie,
          message: userResponse
        })
      }

      console.log("Sending Client Message: " + JSON.stringify(clientMessage));

      const serverResponse = await fetch('clientMessage', clientMessage);
      const response = await serverResponse.json();

      console.log("Server Response: " + JSON.stringify(response));

      if(response.success){
        setCookies(response.header);
        setEntrySuccess(entry, response.response);
      }else{
        setEntryFailure(entry, response.response);
      }
      entry.value = "";
      
    }


  </script>
</head>

<body onload="init()">

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/icon.svg" width="85">
      </a>
      <h1>dgernl</h1>
      <p>This is a customizable, interactive journal application for cbt therapy.</p>
    </div>
  </div>
  <div class="container text-center">
    <div class="form-group row">
        <input type="text" class="form-control" id="entry" autocomplete="off"  onchange="sendMessageToServer()">
    </div>
  </div>
</body>
</html>
