<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>

    async function sendResponseToServer(){
      const entry = document.getElementById("entry");
      const userResponse = entry.value;

      console.log("User Response: " + userResponse);

      const serverResponse = await fetch('clientMessage', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          response: userResponse
        })
      });

      const content = await serverResponse.json();

      console.log("Server Message: " + JSON.stringify(content));
      
      entry.placeholder = content.message;
      entry.value = "";
    }


  </script>
</head>

<body>

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/icon.svg" width="85">
      </a>
      <h1>dgernl</h1>
      <p>This is a customizable, interactive journal application for cbt therapy.</p>
    </div>
  </div>
  <div class="container text-center">
    <div class="form-group row">
        <input type="text" class="form-control" id="entry" autocomplete="off" placeholder="Start here. What is your name?" onchange="sendResponseToServer()">
    </div>
  </div>
</body>
</html>
