<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script>

    let cookie = document.cookie.split('; ').reduce((prev, current) => {
      const [name, value] = current.split('=');
      prev[name] = value;
      return prev;
    }, {});

    function setEntrySuccess(entry, message){
      entry.placeholder = message;
      entry.classList.remove("failure");
    }

    function setEntryFailure(entry, message){
      entry.placeholder = message;
      entry.classList.add("failure");
    }

    function setCookies(header){
      let cookie = "";
      for(const prop in header){
        cookie += prop + "=" + header[prop] + "; ";
      }
      console.log("Setting Cookie: " + cookie);
      document.cookie = cookie + "path=/; ";
    }

    async function init(){
      const entry = document.getElementById("entry");

      if(cookie.questionId == "who" || !cookie.userName){
        setEntrySuccess(entry, "Start here. What is your name?");
        cookie.questionId = "who";
      }else{
        setEntrySuccess(entry, "Good to see you again, " + cookie.userName + ". What would you like to do?");
        cookie.questionId = "command";
      }

    }

    async function sendMessageToServer(){
      const entry = document.getElementById("entry");
      const userResponse = entry.value;

      console.log("User Response: " + userResponse);

      const serverResponse = await fetch('clientMessage', {
        method: 'POST',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          header: cookie,
          message: userResponse
        })
      });

      const response = await serverResponse.json();

      console.log("Server Message: " + JSON.stringify(response));

      if(response.success){
        setCookies(response.header);
        setEntrySuccess(entry, response.message);
      }else{
        setEntryFailure(entry, response.message);
      }
      entry.value = "";
      
    }


  </script>
</head>

<body onload="init()">

  <% include ../partials/nav.ejs %>

  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/icon.svg" width="85">
      </a>
      <h1>dgernl</h1>
      <p>This is a customizable, interactive journal application for cbt therapy.</p>
    </div>
  </div>
  <div class="container text-center">
    <div class="form-group row">
        <input type="text" class="form-control" id="entry" autocomplete="off"  onchange="sendMessageToServer()">
    </div>
  </div>
</body>
</html>
